body {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} 

.container {
    width: 900px;
    height:  500px;      
    background-color: white;
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    
}

* {
    margin: 10px;
    padding: 0%;
}

.login h1 {
    margin-bottom: 10px;
}

.login  {
    width: 59%;
    padding: 19px;
    margin-bottom: 37vh;
    
}

.opcoes {   
    display:flex;
    justify-content:space-between;
    margin-bottom: 20px;
    font-size: 14px;
}

button {
    width: 36%;
    padding: 9px;
    background-color: purple;
    color: white;
    border-radius: 15%;
    
}

.imagem  {
   width: 136%;
    height: 96%;
    background-color: #2b2b2b;
    background-image: url("./assets/fingger.webp");
    border-radius: 29px;

    background-repeat: no-repeat; 
    background-position: center;   
    background-size: cover;      

    
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-home {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    width: 100%;
    max-width: 300px; /
}


.btn-nav {
    display: block;
    text-align: center;
    padding: 12px;
    background-color: #6347ff; 
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-nav:hover {
    background-color: #4f36cc;
}

.btn-outline {
    background-color: transparent;
    color: #6347ff;
    border: 2px solid #6347ff;
}

.btn-outline:hover {
    background-color: #f0f0ff;
}