* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #f5f5f7;
    color: #1d1d1f;
    line-height: 1.5;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background: #fff;
    font-size: 22px;
}

.footer {
    background: #1d1d1f;
    color: #fff;
    padding: 40px 20px;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}


.product-container {
    display: flex;
    max-width: 1100px;
    margin: 50px auto;
    gap: 40px;
    padding: 20px;
}


.gallery {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-img {
    width: 100%;
    height: 450px; 
    object-fit: contain;
    background: #ffffff;
    border-radius: 18px;
    padding: 20px;
}

.sub-images {
    display: flex;
    gap: 10px;
}

.sub-images img {
    width: calc(50% - 5px);
    height: 180px;
    object-fit: contain;
    background: #ffffff;
    border-radius: 18px;
    padding: 10px;
}


.details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details h1 { font-size: 38px; margin-bottom: 10px; }
.details p { color: #6e6e73; font-size: 18px; margin-bottom: 20px; }


.btn-comprar {
    background: #0071e3;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
    transition: 0.3s;
}

.btn-comprar:hover {
    background: #0077ed;
}


@media (max-width: 768px) {
    .product-container {
        flex-direction: column; 
        margin: 0;
        padding: 15px;
    }

    .main-img {
        height: 300px;
    }

    .sub-images img {
        height: 120px;
    }

    .details {
        text-align: center;
        align-items: center;
        margin-top: 20px;
    }

    .details h1 { font-size: 28px; }
}